<div class="dashboard">
  <header class="dashboard-header">
    <h1 class="dashboard-header__title">TheWave Chat
      <button (click)="frogSound.play()" class="dashboard-header__title-frog">🐸</button>
    </h1>


    <app-button (click)="logout()" iconSrc="/assets/logout.svg" type="button" variant="icon"></app-button>
  </header>

  <main>
    <section *ngIf="user$ | async as user" class="message-list">
      <article *ngFor="let message of messages$ | async"
               class="message-list__item">
        <div [class.message-list__item--author]="user.email === message.email" class="message-list__item-container">
          <img *ngIf="user.email !== message.email && message.photoURL" [alt]="message.email + ' profile picture'"
               [class.message-list__item-photo--author]="user.email === message.email"
               [src]="message.photoURL"
               class="message-list__item-photo" height="32"/>
          <div [class.message-list__item-message--author]="user.email === message.email"
               class="message-list__item-message">
            <strong *ngIf="message.displayName">{{message.displayName}}</strong>
            <strong *ngIf="!message.displayName">{{message.email}}</strong>

            <p>{{message.text}}</p>
            <small
              *ngIf="utils.dayjs(message.created_at).isToday(); else date">{{message.created_at | date:"HH:mm"}}</small>
            <ng-template #date><small>{{message.created_at | date: "dd/MM/YYYY HH:mm"}}</small></ng-template>
          </div>
        </div>
      </article>
    </section>

    <form (ngSubmit)="submitMessageHandler(form.value)" class="add-message-form">
      <app-input-text [group]="form"
                      [maxLength]="maxLength"
                      [minLength]="minLength"
                      autocomplete="off"
                      name="text"
                      placeholder="Add a message..."
      ></app-input-text>

      <app-button iconSrc="/assets/send.svg" type="submit" variant="icon"></app-button>
    </form>
  </main>


</div>
