.input {
  display: flex;
  flex-flow: column-reverse nowrap;
  width: 100%;

  &-label {
    margin-bottom: .8rem;
    font-weight: bold;
  }

  &-control {
    padding: .8rem;
    font-size: 1.6rem;
  }
}
