.input {
  display: flex;
  flex-flow: column-reverse nowrap;
  width: 100%;

  &-label {
    margin-bottom: .8rem;
  }

  &-control {
    padding: .8rem;
    font-size: 1.6rem;

    &:focus + .input-label {
      font-weight: bold;
    }
  }
}
