<section *ngIf="user$ | async as user" class="message-list">
  <article *ngFor="let message of messages$ | async" class="message-list__item">
    <div
      [class.message-list__item--author]="user.email === message.email"
      class="message-list__item-container"
    >
      <img
        *ngIf="user.email !== message.email && message.photoURL"
        [alt]="message.email + ' profile picture'"
        [class.message-list__item-photo--author]="user.email === message.email"
        [src]="message.photoURL"
        class="message-list__item-photo"
        height="32"
      />
      <button
        (click)="selectedMessageId = message.id"
        [class.message-list__item-message--author]="
          user.email === message.email
        "
        [disabled]="message.email === user.email"
        class="message-list__item-message"
      >
        <ng-container *ngIf="user.email !== message.email">
          <strong *ngIf="message.displayName">{{ message.displayName }}</strong>
          <strong *ngIf="!message.displayName">{{ message.email }}</strong>
        </ng-container>

        <div
          *ngIf="selectedMessageId === message.id"
          class="message-list__item-message__emoji-picker"
        >
          <input
            (click)="addEmojiHandler({ event: $event, message })"
            class="message-list__item-message__emoji-picker__emoji"
            type="button"
            value="🐸"
          />
          <input
            (click)="addEmojiHandler({ event: $event, message })"
            class="message-list__item-message__emoji-picker__emoji"
            type="button"
            value="😂"
          />
          <input
            (click)="addEmojiHandler({ event: $event, message })"
            class="message-list__item-message__emoji-picker__emoji"
            type="button"
            value="🌊"
          />
          <app-button
            (clickHandler)="$event.stopPropagation(); selectedMessageId = ''"
            className="close-button"
            height="16"
            iconSrc="/assets/close.svg"
            type="button"
            variant="icon"
            width="16"
          ></app-button>
        </div>

        <div
          (click)="$event.stopPropagation()"
          *ngIf="emojiSelected?.selectedMessage?.id === message.id"
          class="message-list__emoji-explorer"
        >
          <div
            *ngFor="let emoji of getSelectedEmojis()"
            class="message-list__emoji-explorer-item"
          >
            <span>{{ emoji.emoji }}</span
            ><span>({{ emoji.email }})</span>

            <app-button
              (clickHandler)="removeEmojiHandler()"
              class="close-explorer-button"
              height="10"
              iconSrc="/assets/close.svg"
              variant="icon"
              width="10"
            ></app-button>
          </div>

          <app-button
            (clickHandler)="$event.stopPropagation(); emojiSelected = null"
            className="close-button"
            height="16"
            iconSrc="/assets/close.svg"
            type="button"
            variant="icon"
            width="16"
          ></app-button>
        </div>

        <div class="message-list__item-message-content">
          <p class="message-list__item-message-content__text">
            {{ message.text }}
          </p>
          <small
            *ngIf="utilsService.dayjs(message.created_at).isToday(); else date"
            class="message-list__item-date"
            >{{ message.created_at | date: "HH:mm" }}</small
          >
          <ng-template #date
            ><small class="message-list__item-date">{{
              message.created_at | date: "dd/MM/YYYY HH:mm"
            }}</small></ng-template
          >
        </div>

        <div
          *ngIf="
            message.emojis &&
            message.emojis.length > 0 &&
            (!emojiSelected ||
              emojiSelected?.selectedMessage?.id !== message.id)
          "
          class="message-list__item-emoji-count"
        >
          <button
            (click)="
              openEmojiExplorer({
                event: $event,
                selectedMessage: message,
                selectedEmoji: messageEmoji
              })
            "
            *ngFor="let messageEmoji of message.emojis"
            class="message-list__item-emoji"
            type="button"
          >
            {{ messageEmoji.emoji }}
          </button>
        </div>
      </button>
    </div>
  </article>
</section>
