@import "src/styles/colors";

.message-list {
  padding: 2rem;
  overflow: auto;
  background: linear-gradient(
    to top,
    $bg-linear-gradient-1 0%,
    $bg-linear-gradient-2 25%,
    $bg-linear-gradient-3 50%,
    $bg-linear-gradient-4 100%
  );
  display: flex;
  flex-flow: column nowrap;
  gap: 1.6rem;

  &__item {
    border: none;
    background: none;
    position: relative;
    display: flex;

    &-date {
      text-align: right;
      white-space: nowrap;
    }

    &-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      gap: 0.8rem;
    }

    &--author {
      margin-left: auto;
    }

    &-photo {
      border-radius: 50%;
    }

    &-message {
      background-color: $color-gray-light;
      border: 0.1rem solid $color-gray;
      text-align: left;
      border-radius: 0.4rem;
      width: fit-content;

      display: flex;
      padding: 1rem;
      flex-flow: column nowrap;
      word-break: break-word;
      gap: 0.8rem;
      position: relative;

      &__emoji-picker {
        position: absolute;
        display: flex;
        border: 0.1rem solid $color-gray-light;
        flex-flow: row wrap;
        align-items: flex-end;
        gap: 1.2rem;
        left: 0;
        top: 0;
        z-index: 1;
        backdrop-filter: blur(0.2rem);
        background: $color-white-alpha-90;
        padding: 1rem;
        border-radius: 0.4rem;

        &__emoji {
          font-size: 2.4rem;
          cursor: pointer;
        }
      }

      &,
      &:disabled {
        opacity: 1;
        color: $color-black;
      }

      &:not(:disabled) {
        cursor: pointer;
      }

      &-content {
        display: flex;
        width: 100%;
        flex-flow: row nowrap;
        align-items: flex-end;
        gap: 3rem;
      }

      &--author {
        background-color: $color-cta-disabled;
      }
    }
  }
}
