.overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(white, .4)
}

.loading-spinner {
  width: 4.8rem;
  height: 4.8rem;
  border-color: black;
  border-width: 0 .2rem .2rem 0;
  border-style: solid;
  border-radius: 4.8rem;
  animation: rotate 200ms linear both infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }


  100% {
    transform: rotate(360deg);
  }
}
