.login-form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.6rem;
  padding: 2rem;

  @media (min-width: 768px) {
    gap: 2.4rem;
    border-radius: .5rem;
  }

  &__title {
    margin: 0;
  }

  &__actions {
    display: flex;
    gap: 1.8rem;
    margin-top: 1.2rem;
    flex-flow: column nowrap;

    @media (min-width: 768px) {
      margin-top: 1.6rem;
      gap: 2.8rem;
      flex-flow: row nowrap;
    }

    app-button {
      flex: 1;
    }
  }
}
