<div class="login-page-container">
  <form (ngSubmit)="submitHandler(form.value)" class="login-form">
    <app-input-email
      [group]="form"
      [label]="utilsService.applicationStrings.email"
      id="email"
      name="email"
    ></app-input-email>

    <app-input-password
      [group]="form"
      [label]="utilsService.applicationStrings.password"
      id="password"
      name="password"
    ></app-input-password>

    <div class="login-form-actions">
      <app-button (click)="isNewAccount = true" *ngIf="!isNewAccount" label="Create a new
      account" type="button" variant="secondary">
      </app-button>

      <app-button (click)="isNewAccount = false" *ngIf="isNewAccount" label="Have account? Login" type="button"
                  variant="secondary">
      </app-button>

      <app-button label="Submit"
                  type="submit"
                  variant="primary"
      ></app-button>
    </div>
  </form>
</div>
