.login-page-container {
  padding: 4rem;

  @media (min-width: 1024px) {
    max-width: 50rem;
    margin: 5rem auto 0;
  }
}

.login-form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.6rem;

  @media (min-width: 1024px) {
    gap: 2.4rem;
    border-radius: .5rem;
  }
}

.welcome-user {
  margin-top: 2.4rem;
  max-width: 100%;
}
