@import "src/styles/colors";

.button {
  padding: 0.9rem 1.6rem;
  font-size: 1.6rem;
  background-color: transparent;
  border: 0.1rem solid transparent;
  border-radius: 0.4rem;
  transition: background-color 200ms ease;
  cursor: pointer;
  width: 100%;

  &-icon {
    padding: 0;
  }

  &-link {
    color: $color-link;
    text-decoration: underline;
    padding: 0;
    border: none;

    &:hover {
      color: darken($color-link, 5%);
    }
  }

  &-primary {
    background-color: $color-cta;
    color: $color-white;

    &:hover {
      color: $color-white-hover;
    }

    &-outline {
      border-color: $color-cta;
      background-color: $color-white;
      color: $color-cta;

      &:hover {
        background-color: $color-cta;
        color: $color-white;
      }
    }
  }

  &-secondary {
    background-color: $color-gray;
    color: $color-black;

    &:hover {
      background-color: $color-gray-hover;
    }

    &-outline {
      border-color: $color-gray;
      background-color: $color-white;
      color: $color-black;

      &:hover {
        background-color: $color-gray-hover;
        color: $color-black;
      }
    }
  }
}

.login-button {
  display: block;
  max-width: inherit;
  margin-top: 1rem;
}

.message-list__item-message__emoji-picker__close-button {
  position: absolute;
  top: -1.4rem;
  right: -1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  border-radius: 50%;
  width: 2.8rem;
  border: 0.1rem solid $color-black;
  height: 2.8rem;
}
