<div class="dashboard">
  <header class="dashboard-header">
    <h1>TheWave Chat</h1>

    <app-button (click)="logout()" label="Logout" type="button" variant="secondary"></app-button>
  </header>

  <main>
    <section #messageList *ngIf="user$ | async as user" class="message-list">
      <article *ngFor="let message of messages$ | async"
               [ngClass]="{'message-list__item--author': user.email === message.author}" class="message-list__item">
        <strong>{{message.author}}</strong>
        <p>{{message.text}}</p>
        <small>{{message.created_at | date:"dd/MM/YYYY HH:mm:ss"}}</small>
      </article>
    </section>

    <form (ngSubmit)="submitMessageHandler(form.value)" class="add-message-form">
      <app-input-text [group]="form"
                      [label]="'What are you thinking? (' + form.value.text!.length  + '/' + maxLength + ')'"
                      [maxLength]="maxLength"
                      [minLength]="minLength"
                      autocomplete="off"
                      name="text"
                      placeholder="Insert your message..."
      ></app-input-text>

      <app-button label="Add message" type="submit" variant="primary"></app-button>
    </form>
  </main>


</div>
