.dashboard {
  display: flex;
  flex-flow: column nowrap;

  &-header {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem;
    position: sticky;
    top: 0;
    background-color: #fff;
    gap: .8rem;
    justify-content: space-between;
    border-bottom: .1rem solid #aaa;
  }

  &__user-data {
    margin-top: 2rem;
    overflow: hidden;
  }
}

.message-list {
  padding: 2rem;
  background: url('/assets/message-list-background.jpg') center/cover repeat;

  &__item {
    display: flex;
    flex-flow: column nowrap;
    gap: .8rem;
    margin: 2rem 0;
    background-color: #fafafa;
    border-radius: .4rem;
    padding: 1rem;
    width: fit-content;
    border: .1rem solid #aaa;

    &--author {
      background-color: lighten(forestgreen, 55%);
      margin-left: auto;
    }
  }
}

.add-message-form {
  position: sticky;
  bottom: 0;
  padding: 2rem;
  background-color: #fff;
  display: flex;
  gap: 1.8rem;
  border-top: .1rem solid #aaa;
  flex-flow: column nowrap;

  @media (min-width: 768px) {
    flex-flow: row nowrap;
    align-items: flex-end;

    app-input-text {
      flex-grow: 4;
    }

    app-button {
      flex-grow: 1;
    }
  }
}
