
.dashboard {
  display: flex;
  flex-flow: column nowrap;

  &-header {
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    gap: .8rem;
    justify-content: space-between;
    border-bottom: .1rem solid #aaa;

    &__title {
      white-space: nowrap;

      &,
      &-frog {
        font-size: 2.4rem;
        line-height: 3.8rem;
      }

      &-frog {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        margin-left: .2rem;
      }

      @media (min-width: 768px) {
        &,
        &-frog {
          font-size: 3.2rem;
          line-height: 3.85rem;
        }
      }
    }
  }

  &__user-data {
    margin-top: 2rem;
    overflow: hidden;
  }
}

.message-list {
  padding: 2rem;
  height: calc(100vh - 7.95rem * 2);
  overflow: auto;
  background: linear-gradient(to top, #03001e 0%, #7303c0 25%, #ec38bc 50%, #fdeff9 100%);
  display: flex;
  flex-flow: column nowrap;
  gap: 1.6rem;

  &__item {
    display: flex;

    &-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      gap: .8rem;
    }

    &--author {
      margin-left: auto;
    }

    &-photo {
      border-radius: 50%;
    }

    &-message {
      background-color: #fafafa;
      border: .1rem solid #aaa;
      border-radius: .4rem;
      width: fit-content;
      display: flex;
      padding: 1rem;
      flex-flow: column nowrap;
      word-break: break-word;
      gap: .8rem;

      &--author {
        background-color: lighten(forestgreen, 57.5%);
      }
    }
  }
}

.add-message-form {
  position: sticky;
  bottom: 0;
  padding: 2rem;
  align-items: center;
  background-color: rgba(#fff, .8);
  display: flex;
  justify-content: space-between;
  gap: 1.8rem;
  border-top: .1rem solid #aaa;
  flex-flow: row nowrap;

  app-input-text {
    flex: 1;
  }
}
